element {
}
* {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: none;
    -webkit-tap-highlight-color: transparent;
}
a {
    outline: none;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
body {
    position: relative;
    font-size: 10px;
    background-color: #f2f2f2;
    font-family: GothamRounded;
}
#header {
    width: 100%;
    overflow: hidden;
    background-color: #3a464b;
}
.header {
    margin-top: 20px;
    margin-bottom: 20px;
}
.wrapper {
    margin: 25px auto;
    width: 1000px;
    position: relative;
}
.sandwichButton {
    background: transparent;
    margin: 10px 0 0 10px;
    position: relative;
    height: 30px;
    width: 30px;
    float: left;
    display: none;
}
logo {
    float: left;
    overflow: hidden;
}
.navigation-menu {
    float: right;
    overflow: hidden;
    margin-top: 10px;
    font-size: 10px;
}
.navigation-menu ul {
    list-style: none;
    overflow: hidden;
}
.navigation-menu ul li {
    float: left;
    margin-left: 10px;
    overflow: hidden;
    cursor: pointer;
}
.navigation-menu ul li a {
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.4em;
    color: #fff;
    padding: 10px;
    display: inline-block;
    white-space: nowrap;
}
.navigation-menu ul li a:hover {
    background-color: #17a68a;
}
.wrapper:after {
    content: "";
    display: table;
    clear: both;
}
div {
    display: block;
}
#homeHeader {
    background-color: #3a464b;
    background-image: url(../Images/bg.jpg);
    background-position: center 25%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.homeHeader {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 1000px;
    overflow: hidden;
}
.slider {
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 13px;
    overflow: hidden;
    float: left;
    padding-right: 20px;
}
.slideText {
    overflow: hidden;
    width: 725px;
}
.slider span {
    font-size: 3.5em;
    font-weight: 500;
    color: #fff;
    display: block;
}
.slider p {
    font-size: 2em;
    padding-top: 15px;
    padding-bottom: 30px;
    font-weight: 500;
    color: #fff;
}
.slider a {
    background-color: #1abc9c;
    border: medium none;
    border-radius: 25px;
    color: #fff;
    display: inline-block;
    font-weight: 500;
    font-size: 1.7em;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    width: 250px;
}
.slider a:hover {
    text-decoration: none;
    background-color: #17a68a;
}
.storesOutline.wrapper {
    margin-bottom: 0;
}
.storesOutline {
    text-align: center;
    margin-top: -25px;
}
.storesOutline a {
    display: inline-block;
    margin-left: 10px;
    margin-right: 15px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,.25), 0 1px 3px rgba(0,0,0,.5);
    height: 49px;
    transition: all ease-in 100ms;
    position: relative;
}
.storesOutline a div {
    border-radius: 6px;
    height: 49px;
}
.homeGooglePlay {
    background: url(../Images/badges.png) no-repeat;
    width: 150px;
    height: 55px;
    background-position: -260px -10px;
}
.homeAppStore {
    background: url(../Images/badges.png) no-repeat;
    width: 150px;
    height: 55px;
    background-position: -260px -200px;
}
.homeWindowsStore {
    background: url(../Images/badges.png) no-repeat;
    width: 150px;
    height: 55px;
    background-position: -260px -105px;
}
.homeWeb {
    background: url(../Images/badges.png) no-repeat;
    width: 150px;
    height: 55px;
    background-position: -260px -299px;
}
.courseItem a {
    overflow: hidden;
    display: block;
    text-decoration: none;
    padding: 20px 20px 0;
}
.homeCourseContent.wrapper {
    margin-top: 0;
}
.homeCourseContent {
    margin-bottom: 25px;
    text-align: center;
}
.homeCourseContent .courseStores a {
    width: auto;
    padding: 10px 20px;
}
.courseStores a {
    background-color: #1abc9c;
    border: medium none;
    border-radius: 20px;
    color: #fff;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    width: 70px;
    text-align: center;
    font-size: 1.4em;
}
.courseStores {
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: right;
    margin-right: 15px;
}
.courseStores a:hover {
    background-color: #17a68a;
    text-decoration: none;
}
.courseItem a {
    overflow: hidden;
    display: block;
    text-decoration: none;
    padding: 20px 20px 0;
}
.homeCourseContent .courseItem {
    width: 30%;
    margin-top: 25px;
}
.homeCourseContent .block {
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 3px rgba(0,0,0,.45);
}
.homeCourseContent .courseIcon {
    margin-left: auto;
    margin-right: auto;
    float: none;
}
.homeCourseContent .courseStores a {
    width: auto;
    padding: 10px 20px;
}
.block.noPadding {
    padding: 0;
}
.courseItem {
    float: left;
    margin: 0 1.5% 25px;
    overflow: hidden;
    width: 47%;
}
.block {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
}
.courseItem a {
    overflow: hidden;
    display: block;
    text-decoration: none;
    padding: 20px 20px 0;
}
.homeCourseContent .courseIcon {
    margin-left: auto;
    margin-right: auto;
    float: none;
}
.courseIcon {
    float: left;
    overflow: hidden;
    width: 89px;
    border-radius: 45px;
    display: block;
    margin-right: 35px;
}
img {
    border: none;
}
.homeCourseContent .courseDescription {
    margin-top: 10px;
}
.courseDescription div, .courseDescription h1 
{
    font-weight: 500;
    font-size: 2em;
    color: #000;
}
#storeInfo {
    overflow: hidden;
    background: #414e53;
    background: -moz-linear-gradient(90deg,#414e53 70%,#3a464b 30%);
    background: -webkit-linear-gradient(90deg,#414e53 70%,#3a464b 30%);
    background: -o-linear-gradient(90deg,#414e53 70%,#3a464b 30%);
    background: -ms-linear-gradient(90deg,#414e53 70%,#3a464b 30%);
    background: linear-gradient(180deg,#414e53 70%,#3a464b 30%);
}
.storeInfoContent {
    overflow: hidden;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
    margin-bottom: 35px;
}
.usersInfo {
    margin-bottom: 30px;
    overflow: hidden;
    text-align: center;
}
.usersInfo div {
    display: inline-block;
}
.usersInfo p {
    float: left;
    overflow: hidden;
    margin-left: 15px;
    margin-right: 15px;
    color: #d6d6d6;
    font-size: 1.7em;
}
.usersInfo span {
    font-weight: bold;
    font-size: 2em;
    color: #8bc34a;
}
#reviews {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 50px;
}
.reviewTitle {
    text-align: center;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}
.reviewTitle p {
    font-size: 2.3em;
    margin-bottom: 10px;
}
.reviewTitle span {
    font-size: 1.7em;
}
.reviewTitle span span {
    font-weight: bold;
    font-size: 1.3em;
}
.socialIcons {
    float: none;
    margin: 0 auto 15px;
    overflow: hidden;
    text-align: center;
    width: 165px;
}
.socialIcons a {
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
    background: url(../Images/sprite.png) no-repeat;
    width: 40px;
    height: 40px;
}
.facebook {
    background-position: 7px -55px!important;
}
.facebook:hover {
    background-position: -33px -55px!important;
}
.twitter {
    background-position: -80px -55px!important;
}
.twitter:hover {
    background-position: -120px -55px!important;
}
.googleplus {
    background-position: -160px -56px!important;
}
.googleplus:hover {
    background-position: -200px -56px!important;
}
.reviewsContent {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width: 1000px;
    text-align: center;
}
.review.left {
    float: left;
    margin-left: 15px;
}
.reviewText {
    position: relative;
    border: 2px solid #e2e2e2;
    padding: 25px;
    min-height: 135px;
}
.reviewText:hover::before {
    border-color: rgba(36,170,152,0);
    border-top-color: #24aa98;
}
.reviewText::before {
    border-color: rgba(226,226,226,0);
    border-top-color: #e2e2e2;
    border-width: 18px;
    margin-left: -18px;
}
.reviewText::after, .reviewText::before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.reviewText p {
    font-size: 1.4em;
    text-align: left;
}
.reviewInfo {
    margin-top: 25px;
    overflow: hidden;
}
.reviewUserAvatar {
    border-radius: 25px;
    overflow: hidden;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.reviewUser {
    overflow: hidden;
    text-align: center;
    margin-top: 10px;
}
.reviewUserName {
    font-weight: bold;
    font-size: 1.35em;
    color: #383737;
}
.reviewUserLoaction {
    margin-top: 5px;
}
.reviewUserLoaction span {
    color: #b4bbc2;
    font-size: 1.2em;
}
.review.right {
    float: right;
    margin-right: 15px;
}
.review.center {
}
#socialElements {
    width: 100%;
    background-color: #eaedf1;
    overflow: hidden;
}
.socialContent {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 50px;
}
.socialTitle {
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 2.6em;
    color: #383737;
    padding-left: 5px;
    padding-right: 5px;
}
.reviewStart {
    font-weight: bold;
    color: #fff;
    border: none;
    text-decoration: none;
    width: 400px;
    border-radius: 30px;
    background-color: #1abc9c;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 1.8em;
    text-align: center;
    margin-top: 10px;
}
.reviewText p {
    font-size: 1.4em;
    text-align: left;
}
.reviewText:hover::before {
    border-color: rgba(36,170,152,0);
    border-top-color: #24aa98;
}
.reviewText::before {
    border-color: rgba(226,226,226,0);
    border-top-color: #e2e2e2;
    border-width: 18px;
    margin-left: -18px;
}
.reviewText::after, .reviewText::before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
#footer {
    width: 100%;
    background-color: #eaedf1;
    overflow: hidden;
}
.footerTitle {
    width: 100%;
    background-color: #3a464b;
    overflow: hidden;
}
.footerTitle p {
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 1.8em;
    padding: 20px;
}
#footer .footerContent {
    margin-bottom: 0;
}
.socialCounts {
    float: left;
    overflow: hidden;
    margin-left: 20px;
}
.footerSocial {
    overflow: hidden;
    background-color: #fff;
    display: block;
    text-decoration: none;
    text-align: center;
    width: 300px;
}
.footerSocial span {
    color: #b4bbc2;
    display: inline-block;
    font-weight: 500;
    font-size: 2.1em;
    margin-top: 25px;
    text-align: center;
    width: 200px;
}
.footerFacebook, .footerGooglePlus, .footerTwitter {
    float: left;
    overflow: hidden;
    background: url(../Images/sprite.png) no-repeat;
    width: 80px;
    height: 80px;
}
.footerTwitter {
    background-color: #29c0ac;
    background-position: 20px -360px!important;
}
.footerFacebook {
    background-color: #24aa98;
    background-position: -37px -360px!important;
}
.footerGooglePlus {
    background-color: #219c8b;
    background-position: -90px -360px!important;
}

#footer .about {
    float: right;
    overflow: hidden;
    margin-right: 20px;
}
#footer .about div {
    margin-bottom: 15px;
}
.logoFooter {
    background: url(../img/TogetherLearn.png) no-repeat;
    background-size: 200px 55px;
    background-position: -12px -8px;
    width: 200px;
    height: 55px;
}
#footer .about div {
    margin-bottom: 15px;
}
#footer .about p {
    font-weight: bold;
    color: #383737;
    font-size: 1.35em;
}
#footer .about address {
    font-weight: 500;
    color: #b4bbc2;
    font-size: 1.35em;
}
.footerMenu {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width: 115px;
}
.footerMenu ul {
    list-style: none;
}
.footerMenu ul li {
    margin-top: 10px;
}
.footerMenu.Home #footerHome, .footerMenu.Blog #footerBlog, .footerMenu.Courses #footerCourses, .footerMenu.Contact #footerContacts, .footerMenu.Privacy-Policy #footerPrivacy-Policy {
    color: #383737;
}
.footerMenu ul li a {
    font-weight: bold;
    color: #b4bbc2;
    font-size: 1.35em;
    text-decoration: none;
}
#footer .copyright {
    text-align: center;
    color: #555;
    font-size: 12px;
    padding: 20px 0;
}
#footer .about button:hover {
    background-color: #17a68a;
}
#footer .about button {
    color: #fff;
    display: block;
    border: none;
    text-decoration: none;
    width: 80px;
    height: 36px;
    border-radius: 6px;
    background-color: #1abc9c;
    cursor: pointer;
    margin-top: 20px;
}
@font-face{
    font-family:'GothamRounded';
    src:url('../fonts/gothamrnd-light.eot');
    src:url('../fonts/gothamrnd-light.eot') format('embedded-opentype'),
        url('../fonts/gothamrnd-light.woff') format('woff'),
        url('../fonts/gothamrnd-light.ttf') format('truetype'),
        url('../fonts/gothamrnd-light.svg#GothamRoundedLight') format('svg');
    font-weight:300
}
@font-face{
    font-family:'GothamRounded';
    src:url('../fonts/gothamrnd-book.eot');
    src:url('../fonts/gothamrnd-book.eot') format('embedded-opentype'),
        url('../fonts/gothamrnd-book.woff') format('woff'),
        url('../fonts/gothamrnd-book.ttf') format('truetype'),
        url('../fonts/gothamrnd-book.svg#GothamRoundedBook') format('svg');
    font-weight:normal
}
@font-face{
    font-family:'GothamRounded';
    src:url('../fonts/gothamrnd-medium.eot');
    src:url('../fonts/gothamrnd-medium.eot') format('embedded-opentype'),
        url('../fonts/gothamrnd-medium.woff') format('woff'),
        url('../fonts/gothamrnd-medium.ttf') format('truetype'),
        url('../fonts/gothamrnd-medium.svg#GothamRoundedMedium') format('svg');
    font-weight:500
}
@font-face{
    font-family:'GothamRounded';
    src:url('../fonts/gothamrnd-bold.eot');
    src:url('../fonts/gothamrnd-bold.eot') format('embedded-opentype'),
        url('../fonts/gothamrnd-bold.woff') format('woff'),
        url('../fonts/gothamrnd-bold.ttf') format('truetype'),
        url('../fonts/gothamrnd-bold.svg#GothamRoundedBold') format('svg');
    font-weight:bold
}
*{padding:0;margin:0;-webkit-tap-highlight-color:none;-webkit-tap-highlight-color:transparent}.iOS{-webkit-appearance:none}body.iOS button,body.iOS textarea,body.iOS select{-webkit-appearance:none}body{position:relative;font-size:10px;background-color:#f2f2f2;font-family:GothamRounded}body.fixed{overflow:hidden}button,input,textarea{font-family:GothamRounded;-webkit-appearance:none}img{border:none}a{outline:none}h1{font-size:2.4em;color:#000}h1 a{color:#000;text-decoration:none}h1 a:hover{color:#474646}.wrapper{margin:25px auto;width:1000px;position:relative}.wrapper:after{content:"";display:table;clear:both}.pageLayout{min-height:475px}.pageLayout .sidebar{width:300px;position:absolute;top:0;right:0}.pageLayout.hasSidebar>.content{margin-right:320px}.pageLayout.Blog{min-height:500px}.pageLayout.Discuss{min-height:945px}.block{background-color:#fff;padding:20px;border-radius:5px;box-shadow:0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24)}.blockPadding{padding:20px}.block.noPadding{padding:0}.block p.noPadding{margin:0 -20px}.block.bottomSpacing{margin-bottom:20px}hr{height:1px;border:none;background:#ddd}.block hr{margin:20px -20px}.block.noPadding hr{margin:20px 0}#header{width:100%;overflow:hidden;background-color:#3a464b}.header{margin-top:20px;margin-bottom:20px}.logo{float:left;overflow:hidden}.logo a{display:block;height:60px;margin-bottom:-3px;margin-left:25px;margin-right:10px;margin-top:3px;width:230px}.navigation-menu{float:right;overflow:hidden;margin-top:10px;font-size:10px}.navigation-menu ul{list-style:none;overflow:hidden}.navigation-menu ul li{float:left;margin-left:10px;overflow:hidden;cursor:pointer}.navigation-menu ul li a{text-decoration:none;font-weight:bold;font-size:1.4em;color:#fff;padding:10px;display:inline-block;white-space:nowrap}.navigation-menu ul li:hover{background-color:#1abc9c;border-radius:5px}.selected .navigation-menu ul li{background-color:#1abc9c}.sandwichButton{background:transparent;margin:10px 0 0 10px;position:relative;height:30px;width:30px;float:left;display:none}.sandwichButton:before,.sandwichButton:after{background:#fff;backface-visibility:hidden;content:"";height:2px;left:0;transition:.75s;width:30px}.sandwichButton:before{box-shadow:0 10px #fff;position:absolute;top:0}.sandwichButton:after{position:absolute;top:20px}#header.blocked .sandwichButton:before,#homeHeader.blocked .sandwichButton:before{box-shadow:transparent 0 0 0 0;top:10px;transform:rotate(225deg)}#header.blocked .sandwichButton:after,#homeHeader.blocked .sandwichButton:after{top:10px;transform:rotate(315deg)}.signin{background-color:#343d41;border-radius:5px;margin-right:0}.Blog #blogPage,.Courses #courses,.Contact #contacts,.User .signin,.Home .signin,.Discuss #discuss,.Leaderboard #leaders,.UserCodes #codes{background-color:#1abc9c;border-radius:5px}.footerMenu.Home #footerHome,.footerMenu.Blog #footerBlog,.footerMenu.Courses #footerCourses,.footerMenu.Contact #footerContacts,.footerMenu.Privacy-Policy #footerPrivacy-Policy{color:#383737}#footer{width:100%;background-color:#eaedf1;overflow:hidden}#footer .footerContent{margin-bottom:0}#footer .copyright{text-align:center;color:#555;font-size:12px;padding:20px 0}.footerTitle{width:100%;background-color:#3a464b;overflow:hidden}.footerTitle p{text-align:center;color:#fff;font-weight:bold;font-size:1.8em;padding:20px}.socialCounts{float:left;overflow:hidden;margin-left:20px}.footerSocial{overflow:hidden;background-color:#fff;display:block;text-decoration:none;text-align:center;width:300px}.footerFacebook,.footerGooglePlus,.footerTwitter{float:left;overflow:hidden;background:url(../Images/sprite.png) no-repeat;width:80px;height:80px}.footerTwitter{background-color:#29c0ac;background-position:20px -360px!important}.footerFacebook{background-color:#24aa98;background-position:-37px -360px!important}.footerGooglePlus{background-color:#219c8b;background-position:-90px -360px!important}.footerSocial span{color:#b4bbc2;display:inline-block;font-weight:500;font-size:2.1em;margin-top:25px;text-align:center;width:200px}.footerSocial:hover span{color:#92989e}.footerMenu{margin-left:auto;margin-right:auto;overflow:hidden;width:115px}.footerMenu p{font-weight:bold;color:#383737;font-size:1.4em}.footerMenu ul{list-style:none}.footerMenu ul li{margin-top:10px}.footerMenu ul li a{font-weight:bold;color:#b4bbc2;font-size:1.35em;text-decoration:none}.footerMenu ul li a:hover{color:#92989e}#footer .about{float:right;overflow:hidden;margin-right:20px}.logoFooter{background-size: 200px 55px; background:url(../img/TogetherLearn.png) no-repeat;background-position:-12px -8px;width:200px;height:55px}#footer .about div{margin-bottom:15px}#footer .about p{font-weight:bold;color:#383737;font-size:1.35em}#footer .about address{font-weight:500;color:#b4bbc2;font-size:1.35em}#footer .about button{color:#fff;display:block;border:none;text-decoration:none;width:80px;height:36px;border-radius:6px;background-color:#1abc9c;cursor:pointer;margin-top:20px}#footer .about button:hover{background-color:#17a68a}.popupOverlay{position:fixed;left:0;right:0;top:0;bottom:0;display:none;background:rgba(0,0,0,.3);text-align:center;width:100%;height:100%;z-index:1000}.popupOverlay.errorPopup{z-index:1500}.popupOverlay.subscriptionPopup{background:rgba(0,0,0,.7);z-index:1000}.popupOverlay .popupWrapper{display:table-cell;vertical-align:middle}.popupOverlay .popup{display:inline-block;background:#fafafa;padding:20px 30px;font-size:inherit}.popupOverlay.subscriptionPopup .popup{padding:0;width:800px;height:600px;border:6px solid #fff;border-radius:3px}.popupOverlay.subscriptionPopup .popupContent{width:100%;height:100%;position:relative}.popupOverlay.subscriptionPopup .popupContent.scrollable{-webkit-overflow-scrolling:touch;overflow-y:scroll}.popupOverlay.subscriptionPopup .close{position:absolute;top:5px;right:5px;cursor:pointer}.popupOverlay.confirmPopup{z-index:1100}.popupOverlay.confirmPopup .popupContent{font-size:15px;font-weight:bold}.popupOverlay.confirmPopup .popupButtons{margin:10px 0 0 0}.popupOverlay.confirmPopup .popupButtons .materialButton{margin:0 5px}.popupOverlay.confirmPopup .popupButtons .materialButton.primary{background-color:#1abc9c}.popupOverlay.confirmPopup .popupButtons .materialButton.primary:hover{background-color:#17a68a}.popup p{font-weight:bold;font-size:1.9em;text-align:center;color:#3a464b;margin-top:0}#mailingForm div{margin-top:10px;overflow:hidden}#mailingForm label{color:#383737;font-size:1.4em;vertical-align:top;float:right;margin-right:10px;display:block}#mailingForm input[type="text"]{border-radius:5px;padding:8px;min-width:200px;border:1px solid #dedede;font-size:1.3em;float:right;display:block;outline:none}#mailingForm textarea{border-radius:5px;padding:8px;min-width:200px;min-height:125px;border:1px solid #dedede;font-size:1.3em;display:block;float:right;outline:none}.popupButtons input{min-width:80px;margin:10px 5px 0;background-color:#24aa98;border:medium none;border-radius:6px;color:#fff;cursor:pointer;height:36px;text-decoration:none;min-width:80px}.popupButtons input:hover{background-color:#1c9181}#mailingForm input.input-validation-error[type="text"],#text.input-validation-error{border-color:#f44;border-width:2px}.field-validation-error{display:block;font-weight:bold;font-size:1.3em;margin-top:10px;text-align:right}.userCoursesPopup .popup{padding:10px}.userCoursesPopup .popupContent{height:400px;overflow-y:scroll;padding:15px;min-width:345px}.userCoursesPopup .courseInfo{position:relative;width:300px;overflow:hidden;border-radius:3px;box-shadow:0 1px 5px #c9cccd;margin:10px 0;padding:10px}.userCoursesPopup .courseIcon{float:left;border-radius:0;margin:7px 15px 0 0;width:70px}.userCoursesPopup .details{overflow:hidden}.userCoursesPopup .courseName{font-size:14px;font-weight:500;margin:5px 0 0 0;text-align:left}.userCoursesPopup .learnersCount{font-size:13px;margin:5px 0 0 0;font-weight:normal;text-align:left}.userCoursesPopup .controls{margin:20px 0 0 0;text-align:right}.userCoursesPopup .materialButton{padding:5px;font-size:12px;margin:0 5px}.userCoursesPopup .popup{position:relative}.userCoursesPopup .close{position:absolute;top:5px;right:5px;cursor:pointer}.userCoursesPopup .loader,.userCoursesPopup .courseInfo .loader{position:absolute;top:0;left:0;right:0;bottom:0;background:rgba(255,255,255,.5);display:none}.userCoursesPopup.loading .loader,.userCoursesPopup .courseInfo.loading .loader{display:block}.userCoursesPopup .loader .materialSpinner,.userCoursesPopup .courseInfo .materialSpinner{position:absolute;top:50%;left:50%;margin:-25px 0 0 -25px;width:50px;height:50px}@media screen and (max-width:1030px){.wrapper{width:auto;margin-left:15px;margin-right:15px}.pageLayout .sidebar{position:static;margin-left:auto;margin-right:auto;margin-top:15px}.pageLayout.hasSidebar>.content{margin:0;min-width:290px}}@media screen and (max-width:1022px){.navigation-menu{float:left}}@media screen and (max-width:955px){body{font-size:11px}}@media screen and (max-width:940px){navigation-menu ul{padding:0}navigation-menu ul li{margin-right:25px;margin-left:0}.logo{float:none;margin-left:0}.navigation-menu{float:left;margin-left:15px;margin-top:10px}.navigation-menu ul li{margin-left:0;margin-right:25px}}@media screen and (max-width:850px){.popupOverlay.subscriptionPopup .popup{width:90%}}@media screen and (max-width:695px){.footerContent{text-align:center}.socialCounts{display:inline-block;float:none;margin-bottom:15px}#footer .about{float:none;margin-bottom:15px;width:200px;margin-left:auto;margin-right:auto}#footer .about button{display:inline}.footerMenu ul{padding:0}.footerMenu{float:none;display:inline-block;margin-left:0}}@media screen and (max-width:615px){.navigation-menu ul li{margin-bottom:10px}.sandwichButton{display:block}.navigation-menu{float:left;display:none;margin-left:60px}.navigation-menu ul li{float:none}.blocked{position:relative}.blocked .navigation-menu{display:block}}@media screen and (max-width:480px){body{font-size:10px}}@media screen and (max-width:400px){.userCoursesPopup .courseInfo{width:250px}}@media screen and (max-width:385px){.userCoursesPopup .popup{padding:10px 5px}.socialElement{width:215px}.footerSocial{width:250px}.footerSocial span{font-size:1.7em;width:150px}.socialCounts{margin-left:auto;margin-right:auto}.socialOutline .twitterShare{width:90px}}@media screen and (max-width:355px){.logo a{width:195px;margin-right:0;margin-left:20px}}@media screen and (max-width:335px){.popupOverlay.subscriptionPopup .popup{width:95%}}@media screen and (max-height:640px){.popupOverlay.subscriptionPopup .popup{height:545px}}@media screen and (max-height:575px){.popupOverlay.subscriptionPopup .popup{height:475px}}@media screen and (max-height:510px){.popupOverlay.subscriptionPopup .popup{height:400px}.popupOverlay.subscriptionPopup .close{right:10px}}@media screen and (max-height:475px){#mailingForm .popupField{margin-top:5px}#mailingForm .popupField label{font-size:1.2em}#mailingForm .popupField input,#mailingForm .popupField textarea{font-size:1em;padding:5px}#mailingForm .popupField textarea{min-height:30px}#mailingForm .g-recaptcha{margin-top:-5px;-moz-transform:scale(.75);-ms-transform:scale(.75);-o-transform:scale(.75);-webkit-transform:scale(.75);transform:scale(.75)}#mailingForm .g-recaptcha div{margin-top:0}#mailingForm .popupButtons{margin-top:-5px}#mailingForm .popupButtons input{margin:0 5px;height:30px;min-width:70px;font-size:12px}}@media screen and (max-height:450px){.popupOverlay.subscriptionPopup .popup{height:350px}}@media screen and (max-height:400px){.popupOverlay.subscriptionPopup .popup{height:275px}.popup p{font-size:1.5em}}@media screen and (max-height:320px){#mailingFormOutline.popupOverlay .popup{-moz-transform:scale(.75);-ms-transform:scale(.75);-o-transform:scale(.75);-webkit-transform:scale(.75);transform:scale(.75)}.field-validation-error{font-size:1em}}.coursesTitle{font-size:2.4em;text-align:center;margin-top:20px;font-weight:bold}.courseItem{float:left;margin:0 1.5% 25px;overflow:hidden;width:47%}.courseItem a{overflow:hidden;display:block;text-decoration:none;padding:20px 20px 0}.courseItem a:hover .courseDescription div,.courseItem a:hover .courseDescription h1{color:#474646}.courseIcon{float:left;overflow:hidden;width:89px;border-radius:45px;display:block;margin-right:35px}.courseDescription{overflow:hidden}.courseDescription div,.courseDescription h1{font-weight:500;font-size:2em;color:#000}.courseDescription p{font-size:1.35em;line-height:1.7;margin-top:10px;margin-bottom:10px;color:#3a464b}.courseStores{overflow:hidden;margin-top:10px;margin-bottom:10px;text-align:right;margin-right:15px}.courseStores a{background-color:#1abc9c;border:medium none;border-radius:20px;color:#fff;display:inline-block;padding:10px;text-decoration:none;width:70px;text-align:center;font-size:1.4em}.courseStores a:hover{background-color:#17a68a}body.bannerOpened{padding:80px 0 0 0}#banner{position:absolute;left:0;top:0;border-bottom:1px solid #e8e8e8;width:100%;height:80px;box-shadow:0 1px 2px rgba(0,0,0,.5);overflow:hidden;background-color:#f0f0f0;z-index:99999}#banner.fixed{position:fixed}#banner.hide{display:none}.bannerContainer{margin:15px 0 0 30px}.bannerClose{position:absolute;top:50%;left:2px;font-size:18px;margin-top:-21px;font-weight:bold;color:#777;padding:8px;cursor:pointer}.bannerContent{display:block;text-decoration:none;color:#000}.bannerImage{width:50px;display:inline-block;vertical-align:middle}.bannerInfo{display:inline-block;vertical-align:middle}.bannerInfo .title{font-weight:500;font-size:14px;color:rgba(0,0,0,.87)}.bannerInfo .subtitle{font-size:11px;color:rgba(0,0,0,.87)}.bannerButton{display:inline-block;position:absolute;right:10px;top:50%;margin-top:-13px;text-decoration:none;font-size:11px;background-color:#1abc9c;color:#fff;padding:8px 6px 6px 6px;border-radius:2px}body{background-color:#fff}#homeHeader{background-color:#3a464b;background-image:url('../Images/bg.jpg');background-position:center 25%;background-repeat:no-repeat;background-size:cover;overflow:hidden}.homeHeader{margin-left:auto;margin-right:auto;margin-top:20px;width:1000px;overflow:hidden}.slider{margin-top:50px;margin-bottom:100px;margin-left:13px;overflow:hidden;float:left;padding-right:20px}.slideText{overflow:hidden;width:725px}.slider span{font-size:3.5em;font-weight:500;color:#fff;display:block}.slider p{font-size:2em;padding-top:15px;padding-bottom:30px;font-weight:500;color:#fff}.slider a{background-color:#1abc9c;border:medium none;border-radius:25px;color:#fff;display:inline-block;font-weight:500;font-size:1.7em;padding:12px;text-align:center;text-decoration:none;width:250px}.slider a:hover{background-color:#17a68a}.storesOutline{text-align:center;margin-top:-25px}.storesOutline.wrapper{margin-bottom:0}.storesOutline a{display:inline-block;margin-left:10px;margin-right:15px;border-radius:8px;box-shadow:0 1px 3px rgba(0,0,0,.25),0 1px 3px rgba(0,0,0,.5);height:49px;transition:all ease-in 100ms;position:relative}.storesOutline a div{border-radius:6px;height:49px}.storesOutline a:hover::after{position:absolute;left:0;top:0;right:0;bottom:0;background:rgba(255,255,255,.1);display:block;content:'';border-radius:6px}.homeCourseContent{margin-bottom:25px;text-align:center}.homeCourseContent .block{box-shadow:0 1px 3px rgba(0,0,0,.12),0 1px 3px rgba(0,0,0,.45)}.homeCourseContent.wrapper{margin-top:0}.homeCourseContent .courseItem{width:30%;margin-top:25px}.homeCourseContent .courseIcon{margin-left:auto;margin-right:auto;float:none}.homeCourseContent .courseStores{text-align:center;margin-right:0}.homeCourseContent .courseStores a{width:auto;padding:10px 20px}.homeCourseContent .courseDescription{margin-top:10px}.viewAll{color:#1abc9c;text-decoration:none;font-size:1.4em;font-weight:500}.viewAll:hover{color:#17a68a;text-decoration:underline}#storeInfo{overflow:hidden;background:#414e53;background:-moz-linear-gradient(90deg,#414e53 70%,#3a464b 30%);background:-webkit-linear-gradient(90deg,#414e53 70%,#3a464b 30%);background:-o-linear-gradient(90deg,#414e53 70%,#3a464b 30%);background:-ms-linear-gradient(90deg,#414e53 70%,#3a464b 30%);background:linear-gradient(180deg,#414e53 70%,#3a464b 30%)}.storeInfoContent{overflow:hidden;width:1000px;margin-right:auto;margin-left:auto;margin-top:25px;margin-bottom:35px}.topInfo{overflow:hidden;margin-top:10px}.phoneImg{float:left;overflow:hidden;margin-left:20px}.phoneImg img{width:400px}.mainInfo{float:right;overflow:hidden;margin-right:65px}.infoTitle span{font-weight:bold;color:#fff;font-size:2.4em}.infoTitle p{color:#d6d6d6;font-size:1.5em;line-height:1.8;margin-top:10px;width:450px}.usersInfo{margin-bottom:30px;overflow:hidden;text-align:center}.usersInfo div{display:inline-block}.usersInfo p{float:left;overflow:hidden;margin-left:15px;margin-right:15px;color:#d6d6d6;font-size:1.7em}.usersInfo span{font-weight:bold;font-size:2em;color:#8bc34a}.appLinks{overflow:hidden;margin-top:15px;width:500px}.startButton{width:260px;height:50px;background-color:#8bc34a;color:#263439;border:none;font-weight:bold;cursor:pointer;border-radius:10px;font-size:1.6em;text-align:center;line-height:3;opacity:.8;display:block;text-decoration:none;margin-left:auto;margin-right:auto;margin-bottom:15px}.startButton:hover{background-color:#75a63b}.stores{overflow:hidden}.stores a{float:left;overflow:hidden;margin-top:10px;margin-left:10px;opacity:.8}.appLinks a:hover{opacity:1}.homeGooglePlay{background:url(../Images/badges.png) no-repeat;width:150px;height:55px;background-position:-260px -10px}.homeAppStore{background:url(../Images/badges.png) no-repeat;width:150px;height:55px;background-position:-260px -200px}.homeWindowsStore{background:url(../Images/badges.png) no-repeat;width:150px;height:55px;background-position:-260px -105px}.homeWeb{background:url(../Images/badges.png) no-repeat;width:150px;height:55px;background-position:-260px -299px}#reviews{width:1000px;margin-left:auto;margin-right:auto;overflow:hidden;margin-top:50px;margin-bottom:50px}.socialIcons{float:none;margin:0 auto 15px;overflow:hidden;text-align:center;width:165px}.socialIcons a{text-decoration:none;display:inline-block;margin-right:10px;background:url('../Images/sprite.png') no-repeat;width:40px;height:40px}.facebook{background-position:7px -55px!important}.facebook:hover{background-position:-33px -55px!important;}.twitter{background-position:-80px -55px!important}.twitter:hover{background-position:-120px -55px!important}.googleplus{background-position:-160px -56px!important}.googleplus:hover{background-position:-200px -56px!important}.reviewsContent{margin-left:auto;margin-right:auto;overflow:hidden;width:1000px;text-align:center}.review{overflow:hidden;display:inline-block;width:30%}.review.left{float:left;margin-left:15px}.review.right{float:right;margin-right:15px}.review.center{}.reviewText{position:relative;border:2px solid #e2e2e2;padding:25px;min-height:135px}.reviewText::after,.reviewText::before{top:100%;left:50%;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none}.reviewText::after{border-color:rgba(226,226,226,0);border-top-color:#fff;border-width:15px;margin-left:-15px}.reviewText::before{border-color:rgba(226,226,226,0);border-top-color:#e2e2e2;border-width:18px;margin-left:-18px}.reviewText:hover{border-color:#24aa98}.reviewText:hover::after{border-color:rgba(36,170,152,0);border-top-color:#fff}.reviewText:hover::before{border-color:rgba(36,170,152,0);border-top-color:#24aa98}.reviewText p{font-size:1.4em;text-align:left}.reviewInfo{margin-top:25px;overflow:hidden}.reviewUserAvatar{border-radius:25px;overflow:hidden;width:50px;margin-left:auto;margin-right:auto;display:block}.reviewUser{overflow:hidden;text-align:center;margin-top:10px}.reviewUserName{font-weight:bold;font-size:1.35em;color:#383737}.reviewUserLoaction{margin-top:5px}.reviewUserLoaction span{color:#b4bbc2;font-size:1.2em}.moreReviews{text-align:center;margin-bottom:15px}.reviewTitle{text-align:center;margin-bottom:10px;margin-right:10px;margin-left:10px}.reviewTitle p{font-size:2.3em;margin-bottom:10px}.reviewTitle span{font-size:1.7em}.reviewTitle span span{font-weight:bold;font-size:1.3em}.reviewStart{font-weight:bold;color:#fff;border:none;text-decoration:none;width:400px;border-radius:30px;background-color:#1abc9c;padding:15px;margin-left:auto;margin-right:auto;display:block;font-size:1.8em;text-align:center;margin-top:10px}.reviewStart:hover{background-color:#17a68a}.moreReviews a:hover{background-color:#1c9181}#socialElements{width:100%;background-color:#eaedf1;overflow:hidden}.socialContent{width:1000px;margin-left:auto;margin-right:auto;overflow:hidden;margin-top:50px;margin-bottom:50px}.socialTitle{text-align:center;font-weight:bold;margin-bottom:15px;font-size:2.6em;color:#383737;padding-left:5px;padding-right:5px}.socialElement{float:left;overflow:hidden;background-color:#fff;margin-right:20px;padding:30px;width:220px;border-radius:7px;margin-bottom:25px}.socialElement div img{width:64px;height:64px;vertical-align:middle}.socialElement div span{font-weight:bold;margin-left:15px;color:#3e454d;font-size:1.6em}.socialElement p{font-size:1.4em;color:#aaaeb3;line-height:1.7;margin-top:10px;margin-bottom:10px}.socialElement a{display:inline-block;text-decoration:none;font-weight:bold;color:#3e454d;font-size:1.6em}.socialElement a:hover{color:#63676c}.arrow{width:16px;height:16px;vertical-align:middle;margin-left:5px}@media screen and (max-width:1050px){.socialElement{margin-left:20px}}@media screen and (max-width:1040px){#features{width:auto;margin:0 20px}}@media screen and (max-width:1000px){#reviews,.storeInfoContent,.socialContent{width:100%}.homeHeader{width:100%}.homeCourseContent .courseItem{float:none;width:70%;margin-left:auto;margin-right:auto}.reviewsContent{width:100%}}@media screen and (max-width:990px){#features{width:90%}.rightSection{margin-left:10px}.mainInfo{width:40%}}@media screen and (max-width:985px){.featureLogo{margin-right:20px}}@media screen and (max-width:975px){.featureLeft,.featureRight{margin-left:0;float:none}#features{width:100%;margin-left:0}.feature{width:420px;margin-left:auto;margin-right:auto}}@media screen and (max-width:960px){.socialElement{margin-left:35px;margin-right:0}}@media screen and (max-width:955px){.slideText{font-size:.7em}}@media screen and (max-width:950px){}@media screen and (max-width:935px){.homeHeader .logo{margin-left:0}}@media screen and (max-width:925px){.reviewText{min-height:190px}}@media screen and (max-width:885px){#homeHeader{background-position:right top}}@media screen and (max-width:850px){.usersInfo{margin-left:auto;margin-right:auto}.usersInfo p{margin-bottom:10px}}@media screen and (max-width:835px){.topInfo{width:395px;margin-left:auto;margin-right:auto}.phoneImg{margin-left:auto;margin-right:auto;overflow:hidden;float:none}.phoneImg img{width:385px;display:block;margin-left:auto;margin-right:auto}.mainInfo{width:auto;float:none;margin-left:auto;margin-right:auto;margin-top:15px;white-space:nowrap;text-align:center}.infoTitle{width:auto;margin-left:auto;margin-right:auto;white-space:normal}.infoTitle p{width:auto}}@media screen and (max-width:750px){.storesOutline a{display:none}.storesOutline .learnOnWeb,.Android .learnOnAndroid,.IOS .learnOnIOS,.WP .learnOnWP{display:inline-block}.storesOutline.wrapper{margin-left:0;margin-right:0}.storesOutline a{margin-left:40px;margin-right:40px}.review.left{float:none;margin-left:auto;margin-right:auto}.review.right{float:none;margin-left:auto;margin-right:auto}.review{display:block;margin-left:auto;margin-right:auto;margin-bottom:25px;overflow:hidden;padding:0 15px 0;width:60%}.reviewText{min-height:initial}}@media screen and (max-width:725px){.slideText{width:450px}}@media screen and (max-width:720px){.socialElement{margin-left:auto;margin-right:auto;float:none}}@media screen and (max-width:660px){.mainInfo{float:none;margin-left:auto;margin-right:auto;margin-top:30px}}@media screen and (max-width:615px){#homeHeader{box-shadow:0 0 1000px 1000px rgba(0,0,0,.5) inset;height:450px}.homeHeader{margin-left:10px}.blocked .slider{display:none}}@media screen and (max-width:600px){.slider p{float:left}}@media screen and (max-width:575px){.homeCourseContent .courseItem{width:100%}}@media screen and (max-width:550px){.usersInfo{width:320px}.usersInfo p{float:none;margin-left:0;margin-right:0}}@media screen and (max-width:510px){.phoneImg img{width:300px}.stores a{display:block;float:none;margin-left:auto;margin-right:auto;overflow:hidden;width:150px}.socialTitle{font-size:2em}}@media screen and (max-width:485px){.review{width:290px}}@media screen and (max-width:480px){.slideText{font-size:78%}.feature{width:300px;height:100%}.featureLogo{width:100px;float:none;margin-left:auto;margin-right:auto}.featureText{float:none;text-align:center;margin-top:20px}.featureText p{width:auto}}@media screen and (max-width:475px){#homeHeader{background-position:-700px top}.slideText{width:270px}}@media screen and (max-width:470px){.startButton{width:220px}.infoTitle{width:310px}.infoTitle p{width:inherit}.topInfo,.appLinks{width:320px}}@media screen and (max-width:470px){.storesOutline a{margin-left:2px;margin-right:2px}}@media screen and (max-width:445px){.reviewStart{width:245px}}
button, input, textarea {
    font-family: GothamRounded;
    -webkit-appearance: none;
}
.block {
    font-size: 14px;
}
.block {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
}
.userProfile {
    font-size: 16px;
    position: relative;
    min-height: 120px;
    overflow: hidden;
}
.userProfile .user, .userProfile .course {
    white-space: nowrap;
}
.userProfile .avatar {
    background-color: #0061a8;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
}
.userProfile .avatar img {
    max-height: 100%;
    max-width: 100%;
}
.userProfile .user .details {
    padding-right: 120px;
}
.userProfile.current .details {
    margin-top: 10px;
}
.userProfile .details {
    margin: 20px 0 0 20px;
    color: #555;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
}
.userProfile .name {
    font-size: 32px;
    font-weight: normal;
    color: inherit;
    white-space: normal;
}
.userProfile .detail {
    font-size: 16px;
}
label {
    cursor: default;
}
.userProfile .detail label::after {
    content: ':';
}
.userProfile .materialButton {
    margin: 10px 0 0;
    font-size: 14px;
    padding: 8px 16px;
}
.materialButton.elevated {
    color: #333;
    background: #aaa;
    padding: 10px 20px;
}
a.materialButton {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.materialButton {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    font-size: 16px;
    text-decoration: none;
}
.materialButton, .materialButton:hover {
    text-decoration: none;
}
.materialButton {
    background: none;
    border: none;
    overflow: hidden;
    position: relative;
    padding: 8px;
    min-width: 50px;
    color: #777;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 3px;
    font-size: 14px;
    outline: none;
    display: inline-block;
}
.materialButton.primary.elevated {
    color: #fff;
    background: #1abc9c;
}
.materialButton.primary.elevated {
    color: #fff;
    background: #1abc9c;
}
.materialButton.primary.elevated {
    color: #fff;
    background: #09f;
}
.materialButton.primary, .materialButton.positive {
    color: #09f;
}
a.materialButton {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.materialButton {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    font-size: 16px;
    text-decoration: none;
}
.userProfile .socialOutline {
    direction: ltr;
    text-align: left;
    margin-top: 5px;
    margin-left: 144px;
}
.socialOutline {
    font-size: 0;
    margin-top: 15px;
    overflow: hidden;
    padding-right: 0;
}
.socialOutline div {
    float: left;
    width: 100px;
}
.socialOutline div {
    float: left;
    width: 100px;
}
.fb_iframe_widget {
    display: inline-block;
    position: relative;
}
element.style {
    vertical-align: bottom;
    width: 68px;
    height: 20px;
}
.fb_iframe_widget span {
    display: inline-block;
    position: relative;
    text-align: justify;
}
.fb_iframe_widget iframe {
    position: absolute;
}
.socialOutline .googleplusShare {
    width: 80px;
}
.block hr {
    margin: 20px -20px;
}
hr {
    height: 1px;
    border: none;
    background: #ddd;
}